<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
    <Package Name="lip" Manufacturer="futrime" Version="0.0.0.0" UpgradeCode="c9beb1d4-e698-4d84-a644-9e0c4b2e72bd">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)"/>

        <MediaTemplate EmbedCab="yes"/>

        <Feature Id="Main">
            <ComponentGroupRef Id="AppComponents"/>
        </Feature>

        <ui:WixUI
                Id="WixUI_InstallDir"
                InstallDirectory="INSTALLFOLDER"
        />

        <WixVariable
                Id="WixUILicenseRtf"
                Value="license.rtf"
        />
        <UIRef Id="WixUI_ErrorProgressText"/>

        <netfx:DotNetCompatibilityCheck
                Property="DOTNETRUNTIMECHECK"
                RollForward="major"
                RuntimeType="core"
                Platform="$(sys.BUILDARCH)"
                Version="9.0.0"
        />

        <Property Id="WixUnelevatedShellExecTarget"
                  Value="https://dotnet.microsoft.com/zh-cn/download/dotnet/thank-you/runtime-9.0.3-windows-x64-installer"/>
        <CustomAction Id="DownloadDotNetCustomAction" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                      DllEntry="WixUnelevatedShellExec" Execute="immediate" Return="check"/>
        <CustomAction Id="DotNetNotInstalled" Error="!(loc.DotNetNotInstalled)"/>

        <InstallUISequence>
            <Custom Action="DownloadDotNetCustomAction" After="CostFinalize" Condition="NOT Installed AND DOTNETRUNTIMECHECK &lt;&gt; 0"/>
            <Custom Action="DotNetNotInstalled" After="DownloadDotNetCustomAction" Condition="NOT Installed AND DOTNETRUNTIMECHECK &lt;&gt; 0"/>
        </InstallUISequence>
    </Package>
</Wix>
