on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS: [darwin, linux, windows]
        GOARCH: [amd64, arm64]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
         cache: true

      - name: Build
        run: |
          export GOOS=${{ matrix.GOOS }}
          export GOARCH=${{ matrix.GOARCH }}
          go build -ldflags "-s -w" -o ./build/ github.com/lippkg/lip/cmd/lip

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.GOOS }}-${{ matrix.GOARCH }}
          path: build

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install MkDocs and MkDocs static i18n plugin
        run: |
          pip install mkdocs
          pip install mkdocs-static-i18n

      - name: Build
        run: |
          mkdocs build

      - uses: actions/upload-pages-artifact@v1
        with:
          path: site/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: build-docs
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v1
