on:
  release:
    types: 
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS:
          - darwin
          - linux
          - windows
        GOARCH:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
         cache: true

      - name: Build
        run: |
          export GOOS=${{ matrix.GOOS }}
          export GOARCH=${{ matrix.GOARCH }}
          go build -ldflags "-s -w" -o bin/ github.com/lippkg/lip/cmd/lip

      - uses: actions/upload-artifact@v4
        with:
          name: lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}-${{ github.sha }}
          path: bin

  update-release-notes:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate release stuff (tooth.json, CHANGELOG.md, etc.)
        run: |
          npm i -g keep-a-changelog
          python scripts/validate_release.py --tag ${{ github.event.release.tag_name }}

      - id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v2

      - uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}

  upload-to-release:
    needs: 
      - build
      - update-release-notes
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS: [darwin, linux, windows]
        GOARCH: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}-${{ github.sha }}
          path: artifact

      - name: Copy essential files
        run: |
          cp CHANGELOG.md COPYING README.md artifact/

      - name: Pack artifact (Windows)
        if: matrix.GOOS == 'windows'
        run: |
          zip -r ../lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.zip *
        working-directory: artifact

      - name: Pack artifact (Others)
        if: matrix.GOOS != 'windows'
        run: |
          tar -czvf ../lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.tar.gz *
        working-directory: artifact

      - name: Upload artifact to release (Windows)
        if: matrix.GOOS == 'windows'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.zip

      - name: Upload artifact to release (Others)
        if: matrix.GOOS != 'windows'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            lip-${{ matrix.GOOS }}-${{ matrix.GOARCH }}.tar.gz
